@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (Model?.RequestId != null)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    <strong>@ViewData["Message"]</strong>
</p>
<p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</p>
